.header {
  margin: 2rem 0;
}

.kolom {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.singleKolom {
  margin: 2rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.detail button {
  margin: 1.2rem 0;
  width: 100%;
}

.keranjang {
  width: 75%;
  margin: 0 auto;
}

.info {
  display: flex;
  justify-content: space-between;
}

.total {
  position: absolute;
  right: 0;
}

.quantity {
  display: flex;
}

.quantity button {
  margin: 0 10px;
}

@media (min-width: 500px) {
  .keranjang {
    width: 80%;
    margin: 0 auto;
  }
}
