.header {
  background-color: lightgreen;
  height: 60vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.welcome {
  margin: 4rem 0;
}

.image {
  width: 250px;
}

.detail {
  display: flex;
  flex-flow: column;
  margin: 10px 0;
}
